<table>
    <thead>
        <tr>        
            <th>Name</th>
            <th>Email</th>
        </tr>

    </thead>
    <tbody>
    <%= for user <- @users do %>
        <tr>
            <td> <%= user.name %></td>
            <td> <%= user.email %></td>
        </tr>
    <% end %>
    </tbody>
</table>