<form method="POST" action="/api/login">
    email: <input type="email" name="email">
    password: <input type="password" name="password" >
    <input type="submit" value="Login">
    <a href="/users/new">Register</a>
</form>