<form method="POST" action="/api/user/create">

    name: <input type="text" name="name">
    email: <input type="email" name="email">
    password: <input type="password" name="password" >
    <input type="submit" value="Register">
</form>